button {
	border: none;
}
.btn {
    font-size: 18px;
    line-height: 24px;
    height: 60px;
    color: $dark;
    padding: 18px 0;
    background-size: contain;
    font-family: $font-title;
    font-weight: bold;
    &--light {
        background: url(../design/btn-light.svg) center no-repeat;
        width: 282px;
        flex-grow: 1;
        background-size: contain;
    }
    &--gold {
        background: url(../design/btn-gold.svg) center no-repeat;
        width: 303px;
        font-size: 18px;
        line-height: 24px;
        background-size: contain;
    }
    &--mobile {
        font-size: 18px;
        line-height: 24px;
        height: 60px;
        color: $dark;
        text-align: center;
        background-size: contain;
        font-family: $font-title;
        font-weight: bold;
        background: url(../design/btn-light.svg) center no-repeat;
        width: 282px;
        flex-grow: 1;
        background-size: contain;

        display: none;
    }
}

.look-more {
    text-decoration: underline;
    color: $gold;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-paragraph;
    &--arrow {
        background: url(../design/arrow-right.svg) center right no-repeat;
        padding-right: 25px;
    }
    &--desktop-hidden {
        display: none;
    }
}
.arrow-back {
    margin: 30px 0;
    color: $gold;
    font-size: 24px;
    position: relative;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -50%;
        display: inline-block;
        width: 60px;
        height: 15px;
        background: url(../design/arrow-back.svg) center no-repeat;
    }
}


.animated {
    position: relative;
    &__line {
        position: absolute;
        opacity: 1;
        top: 0;
        left: 0;
        background: -o-linear-gradient(left,rgba(205,153,101,0) 0%,rgba(205,153,101,0.03) 1%,rgba(205,153,101,0.6) 30%,rgba(205,153,101,0.85) 50%,rgba(205,153,101,0.85) 70%,rgba(205,153,101,0.85) 71%,rgba(205,153,101,0) 100%);
        background: -webkit-gradient(linear,left top,right top,from(rgba(205,153,101,0)),color-stop(1%,rgba(205,153,101,0.03)),color-stop(30%,rgba(205,153,101,0.6)),color-stop(50%,rgba(205,153,101,0.85)),color-stop(70%,rgba(205,153,101,0.85)),color-stop(71%,rgba(205,153,101,0.85)),to(rgba(205,153,101,0)));
        background: linear-gradient(to right,rgba(205,153,101,0) 0%,rgba(205,153,101,0.03) 1%,rgba(205,153,101,0.6) 30%,rgba(205,153,101,0.85) 50%,rgba(205,153,101,0.85) 70%,rgba(205,153,101,0.85) 71%,rgba(205,153,101,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#00ffffff",GradientType=1);
        width: 15%;
        height: 100%;
        transform: skew(-45deg,0deg);
        -webkit-transform: skew(-45deg,0deg);
        -moz-transform: skew(-45deg,0deg);
        -ms-transform: skew(-45deg,0deg);
        -o-transform: skew(-45deg,0deg);
        animation: move 2s;
        animation-iteration-count: infinite;
        animation-delay: 1s;
        -webkit-animation: move 2s;
        -webkit-animation-iteration-count: infinite;
        -webkit-animation-delay: 1s;
        -moz-transform: skew(-45deg,0deg);
        -moz-animation: move 2s;
        -moz-animation-iteration-count: infinite;
        -moz-animation-delay: 1s;
        -ms-transform: skew(-45deg,0deg);
        -ms-animation: move 2s;
        -ms-animation-iteration-count: infinite;
        -ms-animation-delay: 1s;
        -o-transform: skew(-45deg,0deg);
        -o-animation: move 2s;
        -o-animation-iteration-count: infinite;
        -o-animation-delay: 1s;
        }
}