.row {
    @include grid (repeat(3, 1fr), 1);
    // &--popular {
    //     @include grid (repeat(4, 1fr), 1);
    // }
    &--popular {
        @include grid (repeat(4, 1fr), 1);
        margin-top: 30px;
    }
    &--news {
        margin-top: 20px;
    }
    &--awards {
        margin-top: 35px;
         @include flexbox (row, space-between, center);
    }
    &--tutors {
        @include flexbox (row, space-between, center);
        margin-top: 55px;
    }
    &--footer {
        @include grid (repeat(4, 1fr), 1);
    }


}
.card {
    &__img-wrapper {
        position: relative;
        display: block;
        transition: 0.4s;
        // overflow: hidden;
        &--news {
            height: 310px;
        }
        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 100%;
            border: solid 1px $gold;
            left: -5%;
            top: -5%;
            background: url(../design/pattern.svg) no-repeat;
            background-position: 90% 90%;
            z-index: 3;
            // &--tutor {
            //   width: 45%;
            // }
        }
        &::after {
            content: "";
            background: rgba(0, 0, 0, 0);
            background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
            background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
                }
        &:hover {
            opacity:0.8;
            -moz-opacity:0.8;
            filter: alpha(opacity=80) black;
            -khtml-opacity: 0.8;
            background-color:#000;
                    }
    }
    &__img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;

    }
    &__img-text {
        position: absolute;
        z-index: 2;
        width: 50%;
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
        padding-bottom: 30px;
        color: gray;
        background: white;
        font-style: italic;
        bottom: -21px;
    }
    &__body {
        @include flexbox(column, space-between, flex-start);
        &--tutor {
            padding-left: 20px;
        }
    }
    &__title {
        margin: 20px 0 0;
    }






    &--tutor {
        @include flexbox (row, flex-start, center);
    }
}
.views {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__icon {
        display: inline-block;
        width: 20px;
        height: 10px;
        background: url(../design/views.svg) center no-repeat;
        background-size: contain;
    }
    &__number {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        font-family: $font-paragraph;
        color: #DEDEDE;
        margin-left: 6px;
    }
}