.events {
    width: 30%;
    margin: 0 0 0 3%;
    &__event {
        padding: 0;
        width: 100%;
        margin: 22px 0 5px;
        // position: relative;
        // flex-grow: 1;
    }
    &__title {
        @include title(28px, $dark);
        line-height: 30px;
        margin: 0;
        margin-top: 35px;
        width: 50%;
    }
    &__subtitle-wrapper {
        @include  flexbox(row, space-between, center);
    }
    &__subtitle {
        @include title(18px, $dark);
        @include flexbox(row, space-between, center);
        width: 100%;
        margin-left: 30px;
        // display: block;
        // line-height: 26px;
        text-decoration: none;
        
    }
    &__link {
        text-decoration: underline;
        flex-grow: 3;
    }
    &__date {
        @include date(44px);
        height: 80px;
        flex-grow: 1;
        margin-right: 18px;
    }
    &__row {
        @include flexbox(column, space-between, flex-start);
    }
    &__swiper-container {
        display: none;
    }
}
.title-row {
    &--events {
        margin: 0;
    }
}
.gold-line {
    display: none;
    width: 1.3px;
    height: 60px;
    background: $gold;
}