.footer {
    margin-bottom: 40px;
    &__line {
        display: block;
        height: .5px;
        background: $dark;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 40px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            left: -45px;
            top: -5px;
            display: inline-block;
            width: 32px;
            height: 12px;
            background: url(../design/dots.svg) center no-repeat;
        }
        &::after {
            content: '';
            position: absolute;
            right: -45px;
            top: -5px;
            display: inline-block;
            width: 32px;
            height: 12px;
            background: url(../design/dots.svg) center no-repeat;
        }
    }
}
.footer-menu {
    @include flexbox(column, space-between, flex-start);
    &__title {
        @include title(20px, $gold);
        margin: 20px 0;
        &--logo {
            border: none;
        }
    }
    &__item {
        font-family: $font-paragraph;
        color: $dark;
        font-size: 14px;
        line-height: 30px;
    }
    &__dropdown-arrow {
        display: none;
        // width: 20px;
        // height: 20px;
        // position: absolute;
        // right: 0;
        // top: 50%;
        // transform: translateY(-50%);
        // background: #000;
        // display: inline-block;
    }
}
.footer-info {
    @include flexbox(column, space-between, flex-start);
    // margin-top: 54px;
    &__text {
        font-size: 13px;
        line-height: 21px;
        margin-top: 54px;
        color: $dark;
        position: relative;
        font-family: $font-paragraph;
        &::before {
            content: '';
            position: absolute;
            top: -35px;
            left: 0;
            display: inline-block;
            width: 32px;
            height: 12px;
            background: url(../design/dots.svg) center no-repeat;
        }
    }
    
}
.footer-mobile {
    // display: none;
}