.free-education {
    background: url(../design/bg-space.png) center no-repeat;
    background-size: cover;
    padding: 50px;
    padding-bottom: 130px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 3%;
        bottom: 4%;
        width: 92%;
        display: inline-block;
        height: 92%;
        background: url(../design/stars-1440.svg) bottom right no-repeat;
        background-size: cover;
        z-index: 1;
    }
   

    &__text {
        height: 70%;
        @include flexbox(column, space-between, flex-start);
    }
    &__title {
        @include title(41px, $gold);
        margin: 0;
        line-height: 45px;
        margin-top: 10px;
    }
    &__description {
        font-size: 20px;
        color: white;
        font-family: 'Philosopher', sans-serif;
        margin: 33px 0 65px 0;
    }
.gold-txt {
    color: $gold;
}
}