.header {
    @include flexbox(row, space-between, center);
    padding: 40px 0;
    height: 120px;
    width: 100%;
    z-index: 10;
    background: white;
}

.logo {
    display: none;
    width: 50px;
    height: 50px;
    background: url(../design/logo.svg) center no-repeat;
    background-size: cover;
}

.free-course {
    padding: 13px 30px;
    border: 1px solid #ECE5DD;
    font-size: 16px;
    line-height: 24px;
    color: $dark;
    font-family: $font-title;
    position: relative;
    z-index: 1;
    text-align: center;
    margin: 0 40px;
    transition: 0.4s;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -10%;
      left: -2.5%;
      border: solid 1px $gold;
      width: 105%;
      height: 120%;
      z-index: 10;
    }
    &:hover {
        background-color: #ecdfd2;
    }
    &--medium {
        display: none;
        padding: 10px 30px;
        border: 1px solid #ECE5DD;
        font-size: 16px;
        line-height: 24px;
        color: $dark;
        font-family: $font-title;
        position: relative;
        z-index: 1;
        text-align: center;
        margin: 0 40px;
        transition: 0.4s;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: -10%;
          left: -2.5%;
          border: solid 1px $gold;
          width: 105%;
          height: 120%;
          z-index: 10;
        }
        &:hover {
            background-color: #ecdfd2;
        }
    }
}
.user {
    display: none;
    position: relative;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    color: $dark;
    font-family: $font-title;
    &::before {
        content: '';
        position: absolute;
        left: -30%;
        top: 40%;
        display: inline-block;
        width: 12px;
        height: 12px;
        background: url(../design/user.svg) center no-repeat;
    }
}

.bars {
    display: none;
    width: 40px;
    height: 30px;
    background: url(../design/burger.svg) center no-repeat;
    position: relative;
    &:hover ~ .menu--dropdown,
    & ~ .menu--dropdown:hover {
        @include flexbox(column, space-between, flex-start);
    }
}




.menu--dropdown {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: white;
    z-index: 3;
    padding-left: 35px;
    padding-top: 30px;
    width: 270px;
}