.container {
    display: block;
    margin: 0 auto;
    width: 95%;
    display: flex;
    justify-content: space-between;
}
.container-in {
    max-width: calc( 1440px - 290px);
    margin: 0 auto;
}
.main {
    width: 80%;
    margin-left: 295px;
    
}
.main-content {
    @include flexbox(row, space-between, stretch);
    width: 100%;
    margin: 0;
    margin-bottom: 70px;
}
    // .main-content{
    //     min-width: calc( 1440px - 290px);
    //     margin: 0 auto;
    //     @include flexbox(row, space-between, stretch);
    // }
