.manager {
    width: 30%;
    &__card {
        // margin-left: 20px;
    }
    &__img-wrapper {
        position: relative;
        display: inline-block;
        width: 100%;
        height: 310px;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            border: solid 1px $gold;
            left: -15px;
            top: -15px;
            z-index: 2;
            background: url(../design/pattern.svg) no-repeat;
            background-position: 90% 90%;
        }
        &::after {
            content: "";
            background: rgba(0, 0, 0, 0);
            background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
            background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            background: linear-gradient(-160deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    }
    &__img {
        // position: absolute;
        // right: -5%;
        // bottom: -5%;
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
    }
    &__card-body {
        padding: 40px 0;
        padding-left: 20px;
        @include flexbox (column, space-between, initial);
    }
    &__title {
        @include title(28px, $dark);
        margin: 0;
        margin-top: 20px;
    } 
    &__subtitle {
        color: #9B9A9A;
        font-size: 20px;
        font-family: $font-title;
        margin: 0;
    }
    &__quote {
        font-size: 14px;
        color: $gold;
        padding-left: 30px;
        position: relative;
        font-style: italic;
        width: 90%;
        margin: 15px 0;
        &::before {
            content: '';
            position: absolute;
            left: 0;
            width: 17px;
            height: 17px;
            background: url(../design/quote.svg) left top no-repeat;
        }
    }
    &__contacts {
        @include flexbox (row, flex-start, center);
        width: 100%;
    }
    &__tel {
        font-family: $font-title;
        font-size: 20px;
        color: $dark;
        margin-right: 20px;
    }
    &__messanger {
        font-weight: 300;
        font-size: 14px;
        font-family: $font-paragraph;
        margin: 10px 0;
        color: gray;
    }
    &__info {
        font-size: 20px;
        line-height: 26px;
        font-family: $font-title;
        color: $dark;
    }
}




// &::before {
//     content: '';
//     position: absolute;
//     display: inline-block;
//     height: 100%;
//     width: 100%;
//     border: solid 1px $gold;
//     left: -5%;
//     top: -5%;
//     background: url(../design/pattern.png) no-repeat;
//     background-position: 90% 90%;
// }