.media-row {
    @include flexbox(row, space-between, center);
    width: 70%;
    margin-top: 20px;
    &--contact {
        flex-basis: 25%;
        margin: 0;
    }
    &--form {
        margin: 0;
    }
    &__media {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        &--yt {
            background-image: url(../design/yt.svg);
        }
        &--vk {
            background-image: url(../design/vk.svg);
        }
        &--tg {
            background-image: url(../design/telegram.svg);
        }
        &--inst {
            background-image: url(../design/instagram.png);
        }
        &--ok {
            background-image: url(../design/odnoklassniki.svg);
        }
        &--viber {
            background-image: url(../design/viber.svg);
        }
        &--whatsapp {
            background-image: url(../design/whatsapp.svg);
        }
        &--rounded {
            border-radius: 50%;
            border: solid 1px $gold;
            padding: 25px;
            background-size: 40%;
            transition: 0.4s;
            z-index: 9;
            &:hover {
                background-color: rgba(203,167,131,0.22);
            }
        }
        &--contact {
            width: 15px;
            height: 15px;
            position: relative;
            &::after {
                content: '';
                position: absolute;
                bottom: -5px;
                left: 0;
                display: none;
                width: 100%;
                height: 2px;
                background: url(../design/hover.png) center no-repeat;
            }
            &:hover::after {
                display: inline-block;
            }
        }
    }
}
