@media screen and (max-width: 1439px) {
    .main {
        padding: 0;
        width: 100%;
        margin: 0;
    }
    .main-content {
        flex-direction: column;
    }
    .sidebar {
        display: none;
    }
    .header {
        position: fixed;
        width: 95%;
    }
    .swiper-box {
        margin-top: 100px;
    }
    .logo {
        display: inline-block;
    }
    .bars {
        display: inline-block;
    }
    .user {
        display: inline-block;
        margin-right: 5%;
    }
    .promo {
        width: 100%;
        &__swiper-container {
            width: 70%;
            margin: 0 auto;
        }
    }
    .events {
        width: 100%;
        margin: 0;
        &__row {
            flex-direction: row;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__event {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 25%;
        }
        &__title {
            font-size: 41px;
        }
    }
    .gold-line {
        display: inline-block;
    }
    .row {
        &--popular {
            @include grid (repeat(3, 1fr), 1);
        }
    }
    .popular {
        &__video {
            &:last-child {
                display: none;
            }
        }
    }
    .look-more {
        &--arrow {
            display: inline-block;
        }
    }
}
@media screen and (max-width: 1201px) {
    .main {
        padding: 0;
    }
    .header {
        justify-content: space-between;
    }
    .title-row {
        &--events {
            margin: 50px 0 ;
        }
    }
    .events {
        &__event {
            // &:nth-child(2) {
            //     &::after {
            //         content: '';
            //         position: absolute;
            //         display: inline-block;
            //         right: -25%;
            //         top: 50%;
            //         transform: translateY(-50%);
            //         width: 1px;
            //         height: 70px;
            //         background: $gold;
            //     }
            //     &::before {
            //         content: '';
            //         position: absolute;
            //         display: inline-block;
            //         left: -25%;
            //         top: 50%;
            //         transform: translateY(-50%);
            //         width: 1px;
            //         height: 70px;
            //         background: $gold;
            //     }
            // }
        }
        &__title {
            @include title (41px, $dark);
        }
    }
    .look-more--events {
        display: inline-block;
    }
    .sidebar {
        // display: none;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        width: 93%;
    }
    .header {
        height: 104px;
    }
    .logo {
        margin-right: 13px
    }
    .search {
        width: 33%;
    }
    .free-course {
        display: none;
    }
    .free-course {
        &--medium {
            display: block;
        }
    }
    .promo {
        &__swiper-container {
            width: 100%;
            padding: 15px 0 0 0;
        }
        &__img {
            right: 0;
        }
        &__wrapper {
            background-position-x: 375px;
            background-position-y: 25px;
        }
    }
    .events {
        margin-top: 80px;
        &__row {
            margin-top: 35px;
        }
        &__title {
            margin-top: 0;
        }
        &__event {
            margin: 0;
            width:29%;
        }
        &__descr {
            margin-top: 10px;
        }
        &__date {
            margin-right: 0;
        }
    }
    .main-content {
        margin-bottom: 45px;
    }
    .popular {
        margin-top: 40px;
        &__paragraph {
            margin-bottom: 40px;
        }
    }
    .card {
        &__img-text {
            padding-bottom: 20px;
        }
    }
    .card__img-wrapper {
        &--popular {
            width: 100%;
            height: 235px;
        }
        &--tutor {
            width: 300px;
        }
    }
    .test {
        &::after {
            left: 5%;
            bottom: 7%;
            width: 90%;
            background: url(../design/stars-1024.svg) bottom right no-repeat;
        }
        margin-top: 85px;
        &__subtitle {
            margin: 5px 0 35px;
        }
        &__answer {
            height: 140px;
        }
        &__text {
            margin-top: 5px;
            width: 100%;
        }
    }
    .arrow-back {
        margin: 25px 0;
        font-size: 18px;
        &::after {
            bottom: -80%;
        }
    }
    .tutors {
        margin-top: 80px;
    }
    .news {
        margin-top: 80px;
    }
    .subscribe {
        margin: 75px 0;
        &__title {
            margin: 20px 0 0;
        }
        &__row {
            padding-left: 20px;
            margin-top: 40px;
        }
        &__block {
            width: auto;
            margin-right: 15px;
        }
        &__form {
            padding: 60px 0 110px 30px;
        }
        &__networks {
            padding-right: 85px;
        }
    }
    .manager {
        width: 25%;
        margin-left: 15px;
        &__title {
            font-size: 20px;
            margin: 5px 0
        }
        &__subtitle {
            font-size: 18px;
        }
        &__img-wrapper {
            margin-bottom: 10px;
            height: 210px;
        }
        &__contacts {
            flex-direction: column-reverse;
            align-items: flex-start;
            margin-top: 25px;
        }
        &__tel {
            margin-top: 25px;
        }
        &__info {
            margin-top: 10px;
        }
    }
    .free-education {
        padding-top: 35px;
        &__description {
            margin: 43px 0 65px 0;
        }
        &::after {
            left: 5%;
            bottom: 7%;
            width: 90%;
            background: url(../design/stars-1024.svg) bottom right no-repeat;
        }
    }
    .news {
        &__title {
            margin: 15px 0;
        }
        &__announce {
            margin: 30px 0 10px;
            line-height: 30px;
        }
    }
    .footer {
        margin-top: 95px;
        &__line {
            margin-bottom: 30px;
        }
    }
    .footer-menu {
        &__title {
            font-size: 16px;
            margin: 20px 0 15px;
        }
        &__item {
            font-size: 12px;
        }
    }
    .media-row {
        &--form {
            margin-top: 20px;
            width: 55%;
        }
        &--contact {
            width: 100px;
        }
        &__media {
            &--rounded {
                padding: 20px;
            }
        }
    }
    .title-row {
        margin: 30px 0;
    }
    .row {
        &--tutors {
            margin-top: 60px;
        }
        &--news {
            padding-left: 20px;
            column-gap: 25px;
        }
    }
    .card {
        &--tutor {
            padding-left: 15px;
        }
        &__img-wrapper {
            &--news {
                height: 245px;
            }
        }
    }
   
}
@media screen and (max-width: 1020px) {
    .row {
        &--tutors {
            flex-wrap: wrap;
        }
    }
    .subscribe {
        &__row {
            flex-direction: column;
    }
    .manager {
        width: 100%;
        margin-top: 40px;
        &__card {
            display: flex;
            justify-content: space-around;
        }
        &__img-wrapper {
            margin-right: 40px;
            height: 100%;
        }
    }

}
@media screen and (max-width: 850px) {
    .row {
        &--awards {
            flex-wrap: wrap;
        }
    }
    .promo {
        &__wrapper {
            background-position-x: 140%;
        }
    }
    .events {
        &__event {
            width: 50%;
        }
    }
    .gold-line {
        display: none;
    }
    .test {
        &__row {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            row-gap: 40px;
        }
    }
   
}
@media screen and (max-width: 768px) {
    .header {
        width: 100%;
        position: relative; 
        &::after {
            content: '';
            display: block;
            width: 100%;
            position: absolute;
            left: 0;
            bottom: -23px;
            border: 1px solid #C5C5C9;
        }
    }
    .logo {
        display: none;
    }
    .full-logo {
        &--mobile {
            display: block;
        }
    }
    .search {
        width: 40%;
    }
    .menu--dropdown {
        width: 100%;
    }
    .swiper-box {
        margin-top: 10px;
    }
    .promo {
        &__img {
            right: 0;
            object-fit: contain;
            height: 80%;
            top: 50px;
        }
        &__title {
            width: 70%;
            font-size: 28px;
        }
    }
    .look-more {
        &--arrow {
            display: none;
        }
    }
    .title-row {
        margin: 0;
    }
    .events {
        &__row {
            display: none;
        }
        &__swiper-container {
            display: block;
            overflow: hidden;
        }
        &__title {
            padding: 0;
            font-size: 24px;
        }
        &__subtitle {
            justify-content: flex-start;
        }
        &__link {
            flex-grow: 0;
        }
        &__date {
            flex-grow: 0;
            margin-right: 30px;
        }
    }
    .popular {
        &__title {
            font-size: 24px;
        }
        &__swiper-container {
            display: block;
            margin: 0;
        }
        &__card {
            padding: 10%;
        }
    }
    .test {
        padding: 50px 15px;
    }
    .tutors {
        &__title {
            font-size: 24px;
        }
        &__box {
            // margin-bottom: 50px;
            width: 100%;
        }
        &__card-body {
            padding: 30px 0;
        }
    }
    .free-education {
        &__title {
            font-size: 24px;
        }
        &__description {
            font-size: 16px;
            font-family: $font-paragraph;
            margin: 30px 0;
        }
    }
    .news {
        &__title {
            font-size: 24px;
        }
        &__announce {
            font-size: 22px;
        }
        &__box {
            margin-bottom: 30px;
        }
    }
   
    .subscribe {
        margin-bottom: 50px;
        // &__row {
        //     flex-direction: column;
        // }
        &__block {
            width: 100%;
            margin-bottom: 100px;
        }
        &__networks {
            flex-direction: column;

        }
        &__title-wrapper {
            display: none;
        }
        &__form-title {
            &--lower {
                font-size: 18px;
            }
        }
        &__btn {
            margin-top: 40px;
        }
    }
    .form-row {
        flex-direction: column;
        align-items: flex-start;
    }
    .footer {
        &__line {
            display: none;
        }
    }
    .row {
        &--news {
            display: flex;
        }
        &--popular {
            display: none;
        }
        &--footer {
           display: flex;
           flex-direction: column;
        }
        &--tutors {
            display: flex;
            flex-direction: column;
        }
        &--awards {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }
    .design-dots {
        &--deg {
            transform: rotate(0deg);
        }
    }
    .free-course {
        &--medium {
           display: none;
        }
    }
    .user {
        display: none;
    } 
    .search {
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 0.0px;
            background: $dark;
            bottom: -50%;
            left: 0;
        }
        &__input {
            &::placeholder {
                font-size: 16px;
                line-height: 40px;
                color:transparent;
                font-family: $font-title;
            }
        }
    }
    .full-logo {
        &--title {
            display: none;
        }
    }
    .footer-menu {
        &__col {
            position: relative;
            border-bottom: 1px solid $dark;
            &:nth-child(2) {
                border-top: 1px solid $dark;
            }
            // &::after {

            // }
        }
        &__item {
            display: none;
        }
        &__dropdown-arrow {
            display: block;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
            background:url(../design/arrow-dropdown.png) center no-repeat;
            display: inline-block;
        }
    }
    .pagination-arrows {
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 670px) {

    .promo {
        &__pagination {
            width: 100%;
            justify-content: center;
        }
        &__pagination-label {
            display: none;
        }
    }
    .media-row {
        &--form {
            width: 100%;
        }
    }
}



@media screen and (max-width: 480px) {
    .main-content {
        margin-bottom: 15px;
    }
    .header {
        height: 54px;
        padding: 22px 0 0 0;
    }
    .search {
        width: 20%;
    }
    .bars {
        background: url(../design/burger-mobile.svg);
        background-size: contain;
        width: 20px;
        height: 20px;
    }
    .promo {
        &__wrapper {
            height: 474px;
            background-position-x: 55px;
            background-position-y: 20px;
            background-size: 130%;
        }
        &__img {
            object-fit: cover;
            height: 70%;
            top: 5%;
            right: 0;
        }
        &__text {
            margin-top: 5%;
        }
        &__title-wrapper {
            justify-content: flex-start;
            align-items: flex-start;
        }
        &__title {
            margin: 0;
            line-height: 32px;
        }
        &__subtitle {
            width: 50%;
            font-size: 18px;
            margin-top: 30px;
        }
        &__date {
            font-size: 44px;
            margin-right: 20px;
            line-height: 44px;
        }
        &__descr {
            display: none; 
            &--mobile {
                display: inline-block;
            }
        }
    }
    .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
        width: 100%;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
        margin-right: 25px;
    }
    .events {
        margin-top: 25px;
        &__event {
            flex-direction: column;
           width: 100%;
        }
        &__descr {
            margin-top: 10px;

        }
        &__row {
            display: none;
        }
        &__title {
            width: 100%;
        }
        &__subtitle-wrapper {
            align-items: flex-start;
        }
        &__swiper-container {
            margin-top: 20px;
        }
    }
    .date {
        &__day {
            line-height: 40px;
        }
    }
    .pagination {
        @include flexbox(row, center, center);

    }
    // .popular {
    //     &__row {
    //         grid-template-columns: repeat(1, minmax(200px, 1fr));
    //     }
    // }
    .row {
        &--popular {
            display: none;
        }
        &--awards {
            margin-top: 25px;
        }
        &__item {
            &--tutor {
                margin-bottom: 20px;
            }
            &--news {
                margin: 5px 0;
                &:first-child {
                    display: none;
                }
                &:last-child {
                    display: none;
                }
            }
        }
        &--tutors {
            margin-top: 34px;
        }
    }
    .popular {
        margin: 0;
        &__row {
           display: none;
        }
        &__title {
            width: 60%;
        }
        &__card {
            padding: 20px;
        }
       &__swiper-container {
        margin: 0;
        width: 100%;
       }
       &__img-wrapper {
           height: 230px;
           margin-bottom: 10px;
       }
       &__paragraph {
        margin-bottom: 20px;
       }
    }
    .tutors {
        margin-top: 35px;
        &__title {
            line-height: 30px;
        }
        &__box {
            width: 100%;
            margin-bottom: 25px;
        }
        &__name {
            font-size: 22px;
        }
    }
    .awards {
        &__icon {
            width: 50px;
            height: 60px;
        }
    }
    .design-dots {
        &--deg {
            transform: rotate(0deg);
        }
    }
    .free-education {
        padding: 40px 15px 160px;
        &__title {
            font-size: 22px;
            line-height: 30px;
        }
        &__description {
            margin: 30px 0 33px;
            font-size: 14px;
        }
        &::after {
            left: 5%;
            bottom: 3%;
        }
    }
    .news {
        margin-top: 30px;
        &__img {
            max-width: 100%;
            height: auto;
        }
        &__announce {
            margin: 15px 0 10px;
        }
    }
    .test {
        margin-top: 50px;
        padding: 50px 15px 10px;
        &__row {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
        }
        &__answer {
            background: url(../design/wide-frame.svg) no-repeat center;
            background-size: contain;
            width: 285px;
            height: 95px;
            margin: 0;
        }
        &__text {
            margin: 0;
        }
        &__title {
            font-size: 24px;
            line-height: 34px;
        }
        &__subtitle {
            font-size: 22px;
            margin: 5px 0 20px;
        }
        &__label {
            display: flex;
            align-items: center;
        }
        &::after {
            background: none;
        }
    }
    
    .subscribe {
        margin: 65px 0 30px;

        &__row {
            padding: 0;
        }
        &__block {
            margin-bottom: 70px;
        }
        &__btn {
            display: none;
            &--mobile {
                display: block;
            }
        }
        &__form-wrapper {
            &::before {
                border: none;
            }
        }
        &__form {
            padding: 47px 0 0px 5px;
        }
        &__form-title {
            line-height: 30px;
            font-size: 22px;
            width: 90%;
            &--lower {
                font-size: 20px;
                width: 100%;
            }
        }
        &__networks {
            padding-right: 55px;
        }
        &__form-field {
            margin: 40px 0 30px 0;
        }
        &__input-wrapper {
            width: 100%;
        }
    }
    .subscribe-label {
        &__text {
            width: 100%;
            margin: 40px 0 15px;
        }
    }
    .manager {
        width: 100%;
        &__card {
            flex-direction: column;
        }
        &__img-wrapper {
           width: auto;
           margin-right: 0;
        }
        &__quote {
            margin: 10px 0;
        }
        &__contacts {
            flex-direction: row;
            align-items: center;
        }
        &__tel {
            margin: 0 20px 0 0;
        }
        &__info {
            margin: 0;
        }
    }
    .footer {
        margin: 0;
    }
    .btn {
       width: 100%;
       &--mobile {
           display: block;
           margin-top: 20px;
       }
    }
    .card {
        &--tutor {
            flex-direction: column;
        }
        &__img-wrapper {
            &--tutor {
                width: 100%;
                height: 260px;
            }
        }
        &__body {
            &--tutor {
                padding: 0;
            }
        }
    }
    // .pagination-arrows {
    //     display: flex;
    //     align-items: center;
    // }
}
}
@media screen and (max-width: 350px) {
    .test {
        &__answer {
            width: 100%;
        }
    }
}