.news {
    margin-top: 70px;
    &__title {
        @include title(41px, $dark);
    }
    &__date {
        font-size: 16px;
        color: #AAAAAA;
        font-family: $font-paragraph;
    }
    &__announce {
        @include title(24px, $dark);
        margin: 30px 0 15px;
        line-height: 30px;
    }
    &__img {
        position: relative;
        transition: 0.4s;
        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 100%;
            border: solid 1px $gold;
            left: -5%;
            top: -5%;
            background: url(../design/pattern.svg) no-repeat;
            background-position: 90% 90%;
            z-index: 3;
            }
            &:hover {
                opacity:0.8;
                -moz-opacity:0.8;
                filter: alpha(opacity=80) black;
                -khtml-opacity: 0.8;
                background-color:#000;
                    }
    }
    &__btn {
        display: none;
    }
}