// .pagination {
//     border: 0;
//     margin-top: 40px;
// }
.pagination-arrows {
    display: none;
    justify-content: space-between;

}
.swiper-button-next, .swiper-button-prev {
    margin: 0 10px 0 0;
    cursor: pointer;
    position: relative;
    border-radius: 0;
    display: block;
    width: 50px;
    height: 13px;
    outline: none;
}

.swiper-button-next {
    &::after {
        content: '';
        background: url(../design/arrow-next.svg) center no-repeat;
        background-size: contain;
        width: 50px;
        height: 13px;
        display: block;
    }
}
.swiper-button-prev {
    &::after {
        content: '';
        background: url(../design/arrow-back.svg) center no-repeat;
        background-size: contain;
        width: 50px;
        height: 13px;
        display: block;
    }
}



.swiper-pagination {
    &--main .swiper-pagination-bullet {
        margin: 0 10px 0 0;
        cursor: pointer;
        position: relative;
        border-radius: 0;
        display: block;
    }
}

.swiper-pagination {
    &--main .swiper-pagination-bullet-active {
        margin: 0 10px 0 0;
        cursor: pointer;
        position: relative;
        border-radius: 0;
        display: block;
    }
}



// .swiper-pagination-bullet {
//     margin: 0 10px 0 0;
//     cursor: pointer;
//     position: relative;
//     border-radius: 0;
//     display: block;
//     width: 50px;
//     height: 13px;
//     background: url(../design/arrow-back.png) center no-repeat;
//     background-size: contain;
// }









// .pagination {
//     display: none;
//     margin: 20px 0 30px;
// }
// .page-link {
//     border: 0;
//     font-size: 28px;
//     line-height: 34px;
//     color: $dark;
   
//     // height: 100%;
// }
// .page-item {
//     &:nth-child(2) {
//         position: relative;
//         &::after {
//             content: '';
//             position: absolute;
//             display: inline-block;
//             width: 1px;
//             height: 100%;
//             background: $dark;
//             right: 0;
//             top: 0;
//         }
//     }
// }
// .page-arrow {
//     display: block;
//     width: 50px;
//     height: 13px;
//     height: 100%;
//     &--back {
//         background: url(../design/arrow-back.png) center no-repeat;
//         background-size: contain;
//     }
//     &--next {
//         background: url(../design/arrow-next.png) center no-repeat;
//     }
// }







.pagination-fraction {
    display: flex;
    align-items: center;
    &__number {
        font-size: 28px;
        font-family: $font-title;
        font-weight: 400;
    }
}
.fraction {
    display: inline-block;
    width: 2px;
    height: 25px;
    background: url(../design/fraction.svg) center no-repeat;
    background-size: contain;
    margin: 0 15px;
}