.popular {
    &__row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
        column-gap: 3rem;
        row-gap: 3rem;
      

    }
    &__title {
        @include title (41px, $dark);
    }
    &__img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    &__video-title {
        line-height: 26px;
        @include title(24px, $dark);
    }
    &__swiper-container {
        display: none;
        width: 90%;
    }
}

    // &::after {
    //     content: '';
    //     position: absolute;
    //     top: 40%;
    //     left: 40%;
    //     display: inline-block;
    //     width: 40px;
    //     height: 40px;
    //     background: url(../design/play.png) center no-repeat;
    // }
    // // transition: 0.4s;
    // &:hover {
    //     opacity:0.8;
    //     -moz-opacity:0.8;
    //     filter: alpha(opacity=80) black;
    //     -khtml-opacity: 0.8;
    //     background-color:#000;
    //         }
    //     }
    // }



.title-row {
    @include flexbox(row, space-between, center);
}

.play {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 45%;
    left: 45%;
    background: url(../design/play.svg) center no-repeat;
    background-size: cover;
}