.promo {
    &__swiper-container {
        height: 100%;
    }
    width: 70%;
    &__wrapper {
        position: relative;
        height: 560px;
        background: url(../content/promo-img.png) no-repeat;
        background-position-x: 270px;
        background-position-y: 15px;
        background-size: contain;
        &::after {
            content: "";
            background: -webkit-gradient(linear,left top,left bottom,color-stop(53%,rgba(255,255,255,0)),to(white));
            background: -o-linear-gradient(top,rgba(255,255,255,0) 53%,white 100%);
            background: linear-gradient(to bottom,rgba(255,255,255,0) 53%,white 100%);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#ffffff",GradientType=0);
            position: absolute;
            z-index: 1;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
                }
    }
    &__img {
        height: 100%;
        width: auto;
        object-fit: cover;
        position: absolute;
        bottom: -5%;
        right: 0;
        z-index: 1;
    }
    &__text {
        position: absolute;
        left: 0;
        top: 0;
        height: 60%;
        z-index: 2;
        @include flexbox(column, space-between, flex-start);
    }
    &__title-wrapper {
        @include  flexbox(row, space-between, center);
        margin-top: 20px;
    }
    &__title {
        margin: 0;
        @include title(44px, $dark);
        @include flexbox(row, space-between, flex-start);
        line-height: 48px;
        margin-left: 30px;
    }
    &__subtitle {
        @include title(22px, $gold);
        margin: 0;
        margin-top: 35px;
    }
    &__date {
        color: $gold;
        font-size: 65px;
        font-family: $font-title;
        line-height: 70px;
    }
    &__descr {
        margin: 40px 0;
        @extend %paragraph;
        &--mobile {
            display: none;
            background: linear-gradient(90.32deg, #FFFFFF -1.28%, rgba(255, 255, 255, 0.26) 96.85%);
            margin: 35px 5px 44px;
        }
    }
}

.paragraph {
    @extend %paragraph;
    margin: 15px 0;
    
}


.date {
    @include flexbox(column, space-between, flex-start); 
    &__day {
        color: $gold;
        font-size: 46px;
        font-family: $font-title;
        line-height: 50px;
    }
    &__month-year {
        font-size: 13px;
        line-height: 24px;
        color: $gold;
        font-family: $font-title;
    }
}