.promo {
    &__pagination {
        display: flex;
        justify-content: flex-start;
        width: 40%;
        position: absolute;
    }
    &__pagination-label {
        font-size: 14px;
        line-height: 24px;
        font-family: $font-title;
        margin-left: 23px;
    }
    &__swiper-container {
        position: relative;
    }
}
.swiper-container {
    height: 100%;
}

// .swiper-pagination-bullet {
//     display: inline-block;
//     vertical-align: middle;
//     margin: 0 10px 0 0;
//     width: 14px;
//     height: 14px;
//     border: 1px solid #cba783;
//     cursor: pointer;
//     position: relative;
//     background-color: transparent;
//     border-radius: 0;
//     opacity: 1;
// }
// .swiper-pagination-bullet-active {
//     &::before {
//         position: absolute;
//         content: "";
//         background-color: #413e59;
//         left: 3px;
//         top: 3px;
//         width: calc(14px - 3px - 3px - 2px);
//         height: calc(14px - 3px - 3px - 2px);
//     }
//     }

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0;
    margin-right: 43px;
}
.swiper-slide, .swiper-slide-active {
    width: 100%;
}

    .swiper-pagination-bullet {
        display: inline-block;
        vertical-align: middle;
        margin: 0;
        cursor: pointer;
        position: relative;
        background-color: transparent;
        border-radius: 0;
        opacity: 1;
        width: auto;
        display: flex;
        align-items: center;
        &::before {
            position: absolute;
            content: "";
            background: url(../design/non-active.svg) center no-repeat;
            background-size: contain;
            width: 14px;
            height: 14px;
            left: 0;
            top: -3px;
        }
    }
    .swiper-pagination-bullet-active {
        &::before {
            position: absolute;
            content: "";
            // background-color: #413e59;
            // border: 1px solid #cba783;
            // left: 3px;
            // top: 3px;
            // width: calc(14px - 3px - 3px - 2px);
            // height: calc(14px - 3px - 3px - 2px);
            background: url(../design/active.svg) center no-repeat;
            background-size: contain;
            width: 14px;
            height: 14px;
            left: 0;
            top: -3px;
        }
        }

