.search {
    width: 290px;
    &__input {
        outline: none;
        border: none;
        width: 100%;
        padding: 20px 0;
        &::placeholder {
            font-size: 16px;
            line-height: 40px;
            color: rgba(65, 62, 89, 0.5);
            font-family: $font-title;
        }
    }
    position: relative;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        display: block;
        height: 3px;
        background: url(../design/blue-underline.svg) center no-repeat;
        background-size: contain;
        bottom: -50%;
        left: 0;
    }
    &::after {
        content: '';
        position: absolute;
        display: inline-block;
        width: 18px;
        height: 18px;
        background: url(../design/search.svg) center no-repeat;
        right: 0;
        top: 20%;
    }
}