.sidebar {
    display: inline-block;
    padding: 27px 0;
    border-right: 1px solid #EAE9EC;
    width: 255px;
    position: fixed;
    &__logo {
        @include flexbox(column, space-between, flex-start);
    }
}

.full-logo {
    display: inline-block;
    width: 170px;
    height: 37px;
    background: url(../design/full-logo.svg) center no-repeat;
    &--mobile {
        display: none;
    }
}
.design-dots {
    display: inline-block;
    margin-top: 20px;
    width: 100%;
    height: 12px;
    background: url(../design/dots.svg) left center no-repeat;
    position: relative;
    overflow: hidden;
    &--sidebar {
        &::after {
            content: "";
            display: block;
            position: absolute;
            right: -15%;
            top: 50%;
            border: 0.75px solid #413E59;
            width: 100%;
        }
    }
    &--deg {
        transform: rotate(90deg);
        background-position: center;
        width: 60px;
        margin: 0;
    }
}


.menu {
    @include flexbox(column, space-between, flex-start);
    width: 290px;
    &__title {
        font-size: 18px;
        line-height: 40px;
        color: $gold;
        font-family: $font-title;
        margin: 0;
        margin-top: 20px;
        &--dropdown {
            position: relative;
            padding-top: 10%;
            &::after {
                content: '';
                position: absolute;
                display: inline-block;
                width: 30px;
                height: 30px;
                background: url(../design/close.svg) center no-repeat;
                background-size: contain;
                top: -30%;
                right: -80px;
            }
        }
    }
    &__item {
        @extend %menu-item-txt;
        &--exit {
            display: block;
            width: 100%;
            background-image: url(../design/exit.svg);
            background-repeat: no-repeat;
            background-position: 20% 50%;
            color: $gold;
        }
        position: relative;
        &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            display: none;
            width: 26px;
            height: 2px;
            background: url(../design/hover.png) center no-repeat;
        }
        &:hover::after {
            display: inline-block;
        }
       &::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        display: none;
        width: 26px;
        height: 2px;
        background: url(../design/menu-selected.svg) center no-repeat;
       }
       &:active::before {
        display: inline-block;
    }
        &--user {
            font-weight: bold;
            font-size: 16px;
            line-height: 51px;
            color: $dark;
            padding-left: 26px;
            background: url(../design/user.svg) center left no-repeat;
           font-family: $font-title;
        }
    }
}