.subscribe {
    margin: 90px 0 100px;
    &__row {
        @include flexbox (row, space-between, flex-start);
        margin-top: 60px;
    }
    &__block {
        width: 67%;
    }
    &__title {
        @include title(41px, $dark);
        margin: 20px 0 0;
    }
    &__subtitle {
        font-size: 24px;
        color: $gold;
        font-family: $font-title;
        margin-top: 0;
    }
    &__form-wrapper {
        height: 100%;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            display: inline-block;
            border: solid 1px $gold;
            left: -15px;
            top: -15px;
            z-index: 0;
        }
    }
    &__form {
        padding: 70px 0 100px 50px;
        background: url(../design/bg-white.png) center no-repeat;
        @include flexbox(column, space-between, flex-start);


        // &::before {
        //     content: '';
        //     position: absolute;
        //     width: 100%;
        //     height: 100%;
        //     border: solid 1px $gold;
        //     left: -15px;
        //     top: -15px;
        // }
    }
    &__form-title {
        line-height: 34px;
        @include title(28px, $dark);
        margin: 0;
        width: 80%;
        &--lower {
            font-size: 24px;
        }
    }
    &__form-field {
        margin: 60px 0 40px 0;
        // d-flex flex-column justify-content-between
        @include flexbox (column, space-between, stretch);
    }
    &__input {
        outline: none;
        background: transparent;
        border: none;
        &::placeholder {
            font-size: 16px;
            color: $dark;
            font-family: $font-paragraph;
        }
    }
    &__input-wrapper {
        position: relative;
        width: 60%;
        margin-right: 30px;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            display: block;
            height: 3px;
            background: url(../design/line-gold.svg) center no-repeat;
            background-size: contain;
            bottom: -50%;
            left: 0;
        }
    }
    &__btn {
        &--mobile {
            display: none;
        }
    }
    &__checkbox {
        display: none;
    }
    &__networks {
        @include flexbox (row, space-between, center);
        padding-right: 60px;
    }
}
.form-row {
    @include flexbox (row, space-between, center);
    flex-wrap: nowrap;
}
.subscribe-label {
    &__text {
        margin: 40px 0;
        padding-left: 55px;
        position: relative;
        @extend %paragraph;
        width: 80%;
        &::before {
            content: '';
            position: absolute;
            left: 3%;
            top: 10%;
            display: inline-block;
            width: 30px;
            height: 22px;
            background: url(../design/checkbox.svg) left center no-repeat;
        }
    }
}
.subscribe__checkbox:checked + .subscribe-label__text::before {
    background: url(../design/checkbox-checked.svg) center no-repeat;
    // width: 30px;
}