.test {
    background: url(../design/bg-dark.png) center no-repeat;
    background-size: cover;
    padding: 54px 50px;
    margin-top: 93px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 3%;
        bottom: 4%;
        width: 92%;
        display: inline-block;
        height: 92%;
        background: url(../design/stars-1440.svg) bottom right no-repeat;
        background-size: cover;
        z-index: 1;
    }
    &__form {
        @include flexbox(column, space-between, flex-start);
    }
    &__title {
        @include title(41px, $gold);
        line-height: 44px;
        margin: 0;
    }
    &__subtitle {
        @include title(28px, white);
        line-height: 34px;
        margin-bottom: 44px;
        margin: 35px 0 40px;
    }
    &__row {
        @include flexbox(row, flex-start, center);
        width: 100%;
        position: relative;
        z-index: 2;
        // grid-template-columns: repeat(4, 1fr);
        // grid-template-rows: 1;




        // grid-template-columns: repeat(auto-fill, minmax(1fr, 190px));
        // column-gap: 30px;
    }
    &__answer {
        padding: 18px 22px;
        height: 150px;
        margin-right: 35px;
        width: 205px;
        background: url(../design/test-frame.svg) center no-repeat;
        background-size: contain;
        @include flexbox(column, flex-start, flex-start);
        justify-self: center;
        &:hover {
            background: url(../design/test-frame-hover.svg) center no-repeat;
            background-size: contain;
        }
    }
    &__content {
        @include flexbox(column, space-around, flex-start);
    }
    &__text {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        color: white;
        margin-top: 16px;
    }
    &__input {
        display: none;
    }
}
.checkbox {
    display: inline-block;
    width: 30px;
    height: 22px;
    background: url(../design/radio-test.svg) left center no-repeat;
    // &:checked {
    //     background: url(../design/radio-test-checked.png) center no-repeat;
    // }
    background-size: contain;
}
.test__input:checked + .checkbox {
    background: url(../design/radio-test-checked.svg) center no-repeat;
    width: 30px;
}
