// body {
//     font-family: 'Philosopher', sans-serif;
// }
a {
    text-decoration: none;
    color: inherit;
}

$gold: #CBA783;
$dark: #413E59;
$font-paragraph: 'Noto Sans', sans-serif;
$font-title: 'Philosopher', sans-serif;


@mixin title ($fz, $color) {
    font-size:$fz;
    color: $color;
    font-family: 'Philosopher', sans-serif;
}

@mixin date($fz) {
    color: $gold;
    font-size: $fz;
}

%menu-item-txt {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 36px;
    color: $dark;
}
%paragraph {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    color: $dark;
    margin: 0;
}




@mixin flexbox($fd, $jc, $ai) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
}

@mixin grid($cols, $rows) {
    display: grid;
    grid-template-columns: $cols ;
    grid-template-rows: $rows;
    column-gap: 36px;
    row-gap: 16px;
}