.tutors {
    margin: 90px 0;
    &__title {
        @include title(41px, $dark);
        line-height: 47px;
        font-size: 41px;
        margin: 9px 0;
    }
    &__box {
        width: 30%;
        // &:nth-child(2) {
        //     position: relative;
        //     &::before {
        //         content: '';
        //         position: absolute;
        //         left: -10%;
        //         top: 50%;
        //         display: inline-block;
        //         transform: rotate(-90deg);
        //         width: 32px;
        //         height: 12px;
        //         background: url(../design/dots.png) center no-repeat;
        //     }
        //     &::after {
        //         content: '';
        //         position: absolute;
        //         right: -0%;
        //         top: 50%;
        //         display: inline-block;
        //         transform: rotate(-90deg);
        //         width: 32px;
        //         height: 12px;
        //         background: url(../design/dots.png) center no-repeat;
        //     }
        // }
    }
    // &__profiles {
    //     @include flexbox(row, flex-start, center);
    // }
    &__card-body {
        padding: 0;
        padding-left: 30px;
    }
    &__name {
        @include title(28px, $gold);
        margin: 20px 0;
        margin-bottom: 0;
    }
    &__ul {
        margin: 14px 0 1px 0;
        @include flexbox(column, space-between, flex-start);
        padding: 0;
    }
    &__li {
        list-style: none;
        font-size: 14px;
        color: $dark;
        margin: 6px 0;
        font-family: $font-paragraph;
    }
    &__descr {
        font-size: 14px;
        color: $dark;
        margin: 6px 0;
        font-family: $font-paragraph;
    }
    &__img-wrapper {
        position: relative;
        
        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 100%;
            border: solid 1px $gold;
            left: -5%;
            top: -5%;
        }
    }
    
}
.awards {
    @include flexbox(row, stretch, center);
    &__icon {
        display: inline-block;
        margin-right: 27px;
        width: 80px;
        height: 80px;
        flex-grow: 1;
        background-size: contain;
        &--students {
            background: url(../design/students.svg) left center no-repeat;
            background-size: contain;
        }
        &--experience {
            background: url(../design/experience.svg) left  center no-repeat;
            background-size: contain;
        }
        &--consults {
            background: url(../design/consult.svg) left center no-repeat;
            background-size: contain;
        }
    }
    &__text {
        @include flexbox(column, space-between, flex-start);
        flex-grow: 2;
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        font-family: $font-paragraph;
        color: $dark;
    }
  
}
.number {
    font-family: 'Philosopher', sans-serif;
    font-size: 41px;
    color: $gold;
    margin-bottom: 22px;
}