.row {
    @include grid (repeat(3, 1fr), 1);
    // &--popular {
    //     @include grid (repeat(4, 1fr), 1);
    // }
    &--footer {
        @include grid (repeat(4, 1fr), 1);
    }

}
.card {
    &__img-wrapper {
        position: relative;
        &::before {
            content: '';
            position: absolute;
            display: inline-block;
            height: 100%;
            width: 100%;
            border: solid 1px $gold;
            left: -5%;
            top: -5%;
            background: url(../design/pattern.png) no-repeat;
            background-position: 90% 90%;
            z-index: 3;
        }
    }
    &__img-text {
        position: absolute;
        z-index: 2;
        font-size: 14px;
        line-height: 18px;
        padding: 10px;
        padding-bottom: 30px;
        color: gray;
        background: white;
        font-style: italic;
    }
    &__body {
        @include flexbox(column, space-between, flex-start);
    }






    &--tutor {
        @include flexbox (row, flex-start, center);
    }
}
   