/*!
Theme Name: jataka
Theme URI: http://underscores.me/
Author: katvizkiy
Author URI: http://underscores.me/
Description: jataka
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: jataka
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

jataka is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/
a {
  text-decoration: none;
  color: inherit;
}

.menu__item {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 36px;
  color: #413E59;
}

.subscribe-label__text, .paragraph, .promo__descr {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  color: #413E59;
  margin: 0;
}

.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1;
  column-gap: 36px;
  row-gap: 16px;
}
.row--popular {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  column-gap: 36px;
  row-gap: 16px;
  margin-top: 30px;
}
.row--news {
  margin-top: 20px;
}
.row--awards {
  margin-top: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.row--tutors {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 55px;
}
.row--footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1;
  column-gap: 36px;
  row-gap: 16px;
}

.card__img-wrapper {
  position: relative;
  display: block;
  transition: 0.4s;
}
.card__img-wrapper--news {
  height: 310px;
}
.card__img-wrapper::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  border: solid 1px #CBA783;
  left: -5%;
  top: -5%;
  background: url(../design/pattern.svg) no-repeat;
  background-position: 90% 90%;
  z-index: 3;
}
.card__img-wrapper::after {
  content: "";
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.card__img-wrapper:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80) black;
  -khtml-opacity: 0.8;
  background-color: #000;
}
.card__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__img-text {
  position: absolute;
  z-index: 2;
  width: 50%;
  font-size: 14px;
  line-height: 18px;
  padding: 10px;
  padding-bottom: 30px;
  color: gray;
  background: white;
  font-style: italic;
  bottom: -21px;
}
.card__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.card__body--tutor {
  padding-left: 20px;
}
.card__title {
  margin: 20px 0 0;
}
.card--tutor {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.views {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.views__wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.views__icon {
  display: inline-block;
  width: 20px;
  height: 10px;
  background: url(../design/views.svg) center no-repeat;
  background-size: contain;
}
.views__number {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  font-family: "Noto Sans", sans-serif;
  color: #DEDEDE;
  margin-left: 6px;
}

.sidebar {
  display: inline-block;
  padding: 27px 0;
  border-right: 1px solid #EAE9EC;
  width: 255px;
  position: fixed;
}
.sidebar__logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.full-logo {
  display: inline-block;
  width: 170px;
  height: 37px;
  background: url(../design/full-logo.svg) center no-repeat;
}
.full-logo--mobile {
  display: none;
}

.design-dots {
  display: inline-block;
  margin-top: 20px;
  width: 100%;
  height: 12px;
  background: url(../design/dots.svg) left center no-repeat;
  position: relative;
  overflow: hidden;
}
.design-dots--sidebar::after {
  content: "";
  display: block;
  position: absolute;
  right: -15%;
  top: 50%;
  border: 0.75px solid #413E59;
  width: 100%;
}
.design-dots--deg {
  transform: rotate(90deg);
  background-position: center;
  width: 60px;
  margin: 0;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 290px;
}
.menu__title {
  font-size: 18px;
  line-height: 40px;
  color: #CBA783;
  font-family: "Philosopher", sans-serif;
  margin: 0;
  margin-top: 20px;
}
.menu__title--dropdown {
  position: relative;
  padding-top: 10%;
}
.menu__title--dropdown::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../design/close.svg) center no-repeat;
  background-size: contain;
  top: -30%;
  right: -80px;
}
.menu__item {
  position: relative;
}
.menu__item--exit {
  display: block;
  width: 100%;
  background-image: url(../design/exit.svg);
  background-repeat: no-repeat;
  background-position: 20% 50%;
  color: #CBA783;
}
.menu__item::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 26px;
  height: 2px;
  background: url(../design/hover.png) center no-repeat;
}
.menu__item:hover::after {
  display: inline-block;
}
.menu__item::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
  width: 26px;
  height: 2px;
  background: url(../design/menu-selected.svg) center no-repeat;
}
.menu__item:active::before {
  display: inline-block;
}
.menu__item--user {
  font-weight: bold;
  font-size: 16px;
  line-height: 51px;
  color: #413E59;
  padding-left: 26px;
  background: url(../design/user.svg) center left no-repeat;
  font-family: "Philosopher", sans-serif;
}

.media-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 70%;
  margin-top: 20px;
}
.media-row--contact {
  flex-basis: 25%;
  margin: 0;
}
.media-row--form {
  margin: 0;
}
.media-row__media {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.media-row__media--yt {
  background-image: url(../design/yt.svg);
}
.media-row__media--vk {
  background-image: url(../design/vk.svg);
}
.media-row__media--tg {
  background-image: url(../design/telegram.svg);
}
.media-row__media--inst {
  background-image: url(../design/instagram.png);
}
.media-row__media--ok {
  background-image: url(../design/odnoklassniki.svg);
}
.media-row__media--viber {
  background-image: url(../design/viber.svg);
}
.media-row__media--whatsapp {
  background-image: url(../design/whatsapp.svg);
}
.media-row__media--rounded {
  border-radius: 50%;
  border: solid 1px #CBA783;
  padding: 25px;
  background-size: 40%;
  transition: 0.4s;
  z-index: 9;
}
.media-row__media--rounded:hover {
  background-color: rgba(203, 167, 131, 0.22);
}
.media-row__media--contact {
  width: 15px;
  height: 15px;
  position: relative;
}
.media-row__media--contact::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  display: none;
  width: 100%;
  height: 2px;
  background: url(../design/hover.png) center no-repeat;
}
.media-row__media--contact:hover::after {
  display: inline-block;
}

.container {
  display: block;
  margin: 0 auto;
  width: 95%;
  display: flex;
  justify-content: space-between;
}

.container-in {
  max-width: calc( 1440px - 290px);
  margin: 0 auto;
}

.main {
  width: 80%;
  margin-left: 295px;
}

.main-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  margin: 0;
  margin-bottom: 70px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  height: 120px;
  width: 100%;
  z-index: 10;
  background: white;
}

.logo {
  display: none;
  width: 50px;
  height: 50px;
  background: url(../design/logo.svg) center no-repeat;
  background-size: cover;
}

.free-course {
  padding: 13px 30px;
  border: 1px solid #ECE5DD;
  font-size: 16px;
  line-height: 24px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 40px;
  transition: 0.4s;
}
.free-course::before {
  content: "";
  display: block;
  position: absolute;
  top: -10%;
  left: -2.5%;
  border: solid 1px #CBA783;
  width: 105%;
  height: 120%;
  z-index: 10;
}
.free-course:hover {
  background-color: #ecdfd2;
}
.free-course--medium {
  display: none;
  padding: 10px 30px;
  border: 1px solid #ECE5DD;
  font-size: 16px;
  line-height: 24px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 40px;
  transition: 0.4s;
}
.free-course--medium::before {
  content: "";
  display: block;
  position: absolute;
  top: -10%;
  left: -2.5%;
  border: solid 1px #CBA783;
  width: 105%;
  height: 120%;
  z-index: 10;
}
.free-course--medium:hover {
  background-color: #ecdfd2;
}

.user {
  display: none;
  position: relative;
  font-weight: bold;
  font-size: 16px;
  line-height: 40px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
}
.user::before {
  content: "";
  position: absolute;
  left: -30%;
  top: 40%;
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../design/user.svg) center no-repeat;
}

.bars {
  display: none;
  width: 40px;
  height: 30px;
  background: url(../design/burger.svg) center no-repeat;
  position: relative;
}
.bars:hover ~ .menu--dropdown, .bars ~ .menu--dropdown:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.menu--dropdown {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
  z-index: 3;
  padding-left: 35px;
  padding-top: 30px;
  width: 270px;
}

.search {
  width: 290px;
  position: relative;
}
.search__input {
  outline: none;
  border: none;
  width: 100%;
  padding: 20px 0;
}
.search__input::placeholder {
  font-size: 16px;
  line-height: 40px;
  color: rgba(65, 62, 89, 0.5);
  font-family: "Philosopher", sans-serif;
}
.search::before {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 3px;
  background: url(../design/blue-underline.svg) center no-repeat;
  background-size: contain;
  bottom: -50%;
  left: 0;
}
.search::after {
  content: "";
  position: absolute;
  display: inline-block;
  width: 18px;
  height: 18px;
  background: url(../design/search.svg) center no-repeat;
  right: 0;
  top: 20%;
}

.promo {
  width: 70%;
}
.promo__swiper-container {
  height: 100%;
}
.promo__wrapper {
  position: relative;
  height: 560px;
  background: url(../content/promo-img.png) no-repeat;
  background-position-x: 270px;
  background-position-y: 15px;
  background-size: contain;
}
.promo__wrapper::after {
  content: "";
  background: -webkit-gradient(linear, left top, left bottom, color-stop(53%, rgba(255, 255, 255, 0)), to(white));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 53%, white 100%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 53%, white 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#ffffff",GradientType=0);
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.promo__img {
  height: 100%;
  width: auto;
  object-fit: cover;
  position: absolute;
  bottom: -5%;
  right: 0;
  z-index: 1;
}
.promo__text {
  position: absolute;
  left: 0;
  top: 0;
  height: 60%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.promo__title-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.promo__title {
  margin: 0;
  font-size: 44px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  line-height: 48px;
  margin-left: 30px;
}
.promo__subtitle {
  font-size: 22px;
  color: #CBA783;
  font-family: "Philosopher", sans-serif;
  margin: 0;
  margin-top: 35px;
}
.promo__date {
  color: #CBA783;
  font-size: 65px;
  font-family: "Philosopher", sans-serif;
  line-height: 70px;
}
.promo__descr {
  margin: 40px 0;
}
.promo__descr--mobile {
  display: none;
  background: linear-gradient(90.32deg, #FFFFFF -1.28%, rgba(255, 255, 255, 0.26) 96.85%);
  margin: 35px 5px 44px;
}

.paragraph {
  margin: 15px 0;
}

.date {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.date__day {
  color: #CBA783;
  font-size: 46px;
  font-family: "Philosopher", sans-serif;
  line-height: 50px;
}
.date__month-year {
  font-size: 13px;
  line-height: 24px;
  color: #CBA783;
  font-family: "Philosopher", sans-serif;
}

.promo__pagination {
  display: flex;
  justify-content: flex-start;
  width: 40%;
  position: absolute;
}
.promo__pagination-label {
  font-size: 14px;
  line-height: 24px;
  font-family: "Philosopher", sans-serif;
  margin-left: 23px;
}
.promo__swiper-container {
  position: relative;
}

.swiper-container {
  height: 100%;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
  margin-right: 43px;
}

.swiper-slide, .swiper-slide-active {
  width: 100%;
}

.swiper-pagination-bullet {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border-radius: 0;
  opacity: 1;
  width: auto;
  display: flex;
  align-items: center;
}
.swiper-pagination-bullet::before {
  position: absolute;
  content: "";
  background: url(../design/non-active.svg) center no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
  left: 0;
  top: -3px;
}

.swiper-pagination-bullet-active::before {
  position: absolute;
  content: "";
  background: url(../design/active.svg) center no-repeat;
  background-size: contain;
  width: 14px;
  height: 14px;
  left: 0;
  top: -3px;
}

button {
  border: none;
}

.btn {
  font-size: 18px;
  line-height: 24px;
  height: 60px;
  color: #413E59;
  padding: 18px 0;
  background-size: contain;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
}
.btn--light {
  background: url(../design/btn-light.svg) center no-repeat;
  width: 282px;
  flex-grow: 1;
  background-size: contain;
}
.btn--gold {
  background: url(../design/btn-gold.svg) center no-repeat;
  width: 303px;
  font-size: 18px;
  line-height: 24px;
  background-size: contain;
}
.btn--mobile {
  font-size: 18px;
  line-height: 24px;
  height: 60px;
  color: #413E59;
  text-align: center;
  background-size: contain;
  font-family: "Philosopher", sans-serif;
  font-weight: bold;
  background: url(../design/btn-light.svg) center no-repeat;
  width: 282px;
  flex-grow: 1;
  background-size: contain;
  display: none;
}

.look-more {
  text-decoration: underline;
  color: #CBA783;
  font-size: 14px;
  line-height: 20px;
  font-family: "Noto Sans", sans-serif;
}
.look-more--arrow {
  background: url(../design/arrow-right.svg) center right no-repeat;
  padding-right: 25px;
}
.look-more--desktop-hidden {
  display: none;
}

.arrow-back {
  margin: 30px 0;
  color: #CBA783;
  font-size: 24px;
  position: relative;
}
.arrow-back::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -50%;
  display: inline-block;
  width: 60px;
  height: 15px;
  background: url(../design/arrow-back.svg) center no-repeat;
}

.animated {
  position: relative;
}
.animated__line {
  position: absolute;
  opacity: 1;
  top: 0;
  left: 0;
  background: -o-linear-gradient(left, rgba(205, 153, 101, 0) 0%, rgba(205, 153, 101, 0.03) 1%, rgba(205, 153, 101, 0.6) 30%, rgba(205, 153, 101, 0.85) 50%, rgba(205, 153, 101, 0.85) 70%, rgba(205, 153, 101, 0.85) 71%, rgba(205, 153, 101, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, from(rgba(205, 153, 101, 0)), color-stop(1%, rgba(205, 153, 101, 0.03)), color-stop(30%, rgba(205, 153, 101, 0.6)), color-stop(50%, rgba(205, 153, 101, 0.85)), color-stop(70%, rgba(205, 153, 101, 0.85)), color-stop(71%, rgba(205, 153, 101, 0.85)), to(rgba(205, 153, 101, 0)));
  background: linear-gradient(to right, rgba(205, 153, 101, 0) 0%, rgba(205, 153, 101, 0.03) 1%, rgba(205, 153, 101, 0.6) 30%, rgba(205, 153, 101, 0.85) 50%, rgba(205, 153, 101, 0.85) 70%, rgba(205, 153, 101, 0.85) 71%, rgba(205, 153, 101, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00ffffff",endColorstr="#00ffffff",GradientType=1);
  width: 15%;
  height: 100%;
  transform: skew(-45deg, 0deg);
  -webkit-transform: skew(-45deg, 0deg);
  -moz-transform: skew(-45deg, 0deg);
  -ms-transform: skew(-45deg, 0deg);
  -o-transform: skew(-45deg, 0deg);
  animation: move 2s;
  animation-iteration-count: infinite;
  animation-delay: 1s;
  -webkit-animation: move 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 1s;
  -moz-transform: skew(-45deg, 0deg);
  -moz-animation: move 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 1s;
  -ms-transform: skew(-45deg, 0deg);
  -ms-animation: move 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 1s;
  -o-transform: skew(-45deg, 0deg);
  -o-animation: move 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 1s;
}

.events {
  width: 30%;
  margin: 0 0 0 3%;
}
.events__event {
  padding: 0;
  width: 100%;
  margin: 22px 0 5px;
}
.events__title {
  font-size: 28px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  line-height: 30px;
  margin: 0;
  margin-top: 35px;
  width: 50%;
}
.events__subtitle-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.events__subtitle {
  font-size: 18px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 30px;
  text-decoration: none;
}
.events__link {
  text-decoration: underline;
  flex-grow: 3;
}
.events__date {
  color: #CBA783;
  font-size: 44px;
  height: 80px;
  flex-grow: 1;
  margin-right: 18px;
}
.events__row {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.events__swiper-container {
  display: none;
}

.title-row--events {
  margin: 0;
}

.gold-line {
  display: none;
  width: 1.3px;
  height: 60px;
  background: #CBA783;
}

.pagination-arrows {
  display: none;
  justify-content: space-between;
}

.swiper-button-next, .swiper-button-prev {
  margin: 0 10px 0 0;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  display: block;
  width: 50px;
  height: 13px;
  outline: none;
}

.swiper-button-next::after {
  content: "";
  background: url(../design/arrow-next.svg) center no-repeat;
  background-size: contain;
  width: 50px;
  height: 13px;
  display: block;
}

.swiper-button-prev::after {
  content: "";
  background: url(../design/arrow-back.svg) center no-repeat;
  background-size: contain;
  width: 50px;
  height: 13px;
  display: block;
}

.swiper-pagination--main .swiper-pagination-bullet {
  margin: 0 10px 0 0;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  display: block;
}

.swiper-pagination--main .swiper-pagination-bullet-active {
  margin: 0 10px 0 0;
  cursor: pointer;
  position: relative;
  border-radius: 0;
  display: block;
}

.pagination-fraction {
  display: flex;
  align-items: center;
}
.pagination-fraction__number {
  font-size: 28px;
  font-family: "Philosopher", sans-serif;
  font-weight: 400;
}

.fraction {
  display: inline-block;
  width: 2px;
  height: 25px;
  background: url(../design/fraction.svg) center no-repeat;
  background-size: contain;
  margin: 0 15px;
}

.popular__row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}
.popular__title {
  font-size: 41px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
}
.popular__img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
.popular__video-title {
  line-height: 26px;
  font-size: 24px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
}
.popular__swiper-container {
  display: none;
  width: 90%;
}

.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.play {
  display: inline-block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 45%;
  left: 45%;
  background: url(../design/play.svg) center no-repeat;
  background-size: cover;
}

.test {
  background: url(../design/bg-dark.png) center no-repeat;
  background-size: cover;
  padding: 54px 50px;
  margin-top: 93px;
  position: relative;
}
.test::after {
  content: "";
  position: absolute;
  left: 3%;
  bottom: 4%;
  width: 92%;
  display: inline-block;
  height: 92%;
  background: url(../design/stars-1440.svg) bottom right no-repeat;
  background-size: cover;
  z-index: 1;
}
.test__form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.test__title {
  font-size: 41px;
  color: #CBA783;
  font-family: "Philosopher", sans-serif;
  line-height: 44px;
  margin: 0;
}
.test__subtitle {
  font-size: 28px;
  color: white;
  font-family: "Philosopher", sans-serif;
  line-height: 34px;
  margin-bottom: 44px;
  margin: 35px 0 40px;
}
.test__row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: relative;
  z-index: 2;
}
.test__answer {
  padding: 18px 22px;
  height: 150px;
  margin-right: 35px;
  width: 205px;
  background: url(../design/test-frame.svg) center no-repeat;
  background-size: contain;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  justify-self: center;
}
.test__answer:hover {
  background: url(../design/test-frame-hover.svg) center no-repeat;
  background-size: contain;
}
.test__content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.test__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: white;
  margin-top: 16px;
}
.test__input {
  display: none;
}

.checkbox {
  display: inline-block;
  width: 30px;
  height: 22px;
  background: url(../design/radio-test.svg) left center no-repeat;
  background-size: contain;
}

.test__input:checked + .checkbox {
  background: url(../design/radio-test-checked.svg) center no-repeat;
  width: 30px;
}

.tutors {
  margin: 90px 0;
}
.tutors__title {
  font-size: 41px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  line-height: 47px;
  font-size: 41px;
  margin: 9px 0;
}
.tutors__box {
  width: 30%;
}
.tutors__card-body {
  padding: 0;
  padding-left: 30px;
}
.tutors__name {
  font-size: 28px;
  color: #CBA783;
  font-family: "Philosopher", sans-serif;
  margin: 20px 0;
  margin-bottom: 0;
}
.tutors__ul {
  margin: 14px 0 1px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}
.tutors__li {
  list-style: none;
  font-size: 14px;
  color: #413E59;
  margin: 6px 0;
  font-family: "Noto Sans", sans-serif;
}
.tutors__descr {
  font-size: 14px;
  color: #413E59;
  margin: 6px 0;
  font-family: "Noto Sans", sans-serif;
}
.tutors__img-wrapper {
  position: relative;
}
.tutors__img-wrapper::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  border: solid 1px #CBA783;
  left: -5%;
  top: -5%;
}

.awards {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
}
.awards__icon {
  display: inline-block;
  margin-right: 27px;
  width: 80px;
  height: 80px;
  flex-grow: 1;
  background-size: contain;
}
.awards__icon--students {
  background: url(../design/students.svg) left center no-repeat;
  background-size: contain;
}
.awards__icon--experience {
  background: url(../design/experience.svg) left center no-repeat;
  background-size: contain;
}
.awards__icon--consults {
  background: url(../design/consult.svg) left center no-repeat;
  background-size: contain;
}
.awards__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-grow: 2;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  font-family: "Noto Sans", sans-serif;
  color: #413E59;
}

.number {
  font-family: "Philosopher", sans-serif;
  font-size: 41px;
  color: #CBA783;
  margin-bottom: 22px;
}

.free-education {
  background: url(../design/bg-space.png) center no-repeat;
  background-size: cover;
  padding: 50px;
  padding-bottom: 130px;
  position: relative;
}
.free-education::after {
  content: "";
  position: absolute;
  left: 3%;
  bottom: 4%;
  width: 92%;
  display: inline-block;
  height: 92%;
  background: url(../design/stars-1440.svg) bottom right no-repeat;
  background-size: cover;
  z-index: 1;
}
.free-education__text {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.free-education__title {
  font-size: 41px;
  color: #CBA783;
  font-family: "Philosopher", sans-serif;
  margin: 0;
  line-height: 45px;
  margin-top: 10px;
}
.free-education__description {
  font-size: 20px;
  color: white;
  font-family: "Philosopher", sans-serif;
  margin: 33px 0 65px 0;
}
.free-education .gold-txt {
  color: #CBA783;
}

.news {
  margin-top: 70px;
}
.news__title {
  font-size: 41px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
}
.news__date {
  font-size: 16px;
  color: #AAAAAA;
  font-family: "Noto Sans", sans-serif;
}
.news__announce {
  font-size: 24px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  margin: 30px 0 15px;
  line-height: 30px;
}
.news__img {
  position: relative;
  transition: 0.4s;
}
.news__img::before {
  content: "";
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 100%;
  border: solid 1px #CBA783;
  left: -5%;
  top: -5%;
  background: url(../design/pattern.svg) no-repeat;
  background-position: 90% 90%;
  z-index: 3;
}
.news__img:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  filter: alpha(opacity=80) black;
  -khtml-opacity: 0.8;
  background-color: #000;
}
.news__btn {
  display: none;
}

.subscribe {
  margin: 90px 0 100px;
}
.subscribe__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 60px;
}
.subscribe__block {
  width: 67%;
}
.subscribe__title {
  font-size: 41px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  margin: 20px 0 0;
}
.subscribe__subtitle {
  font-size: 24px;
  color: #CBA783;
  font-family: "Philosopher", sans-serif;
  margin-top: 0;
}
.subscribe__form-wrapper {
  height: 100%;
  position: relative;
}
.subscribe__form-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: inline-block;
  border: solid 1px #CBA783;
  left: -15px;
  top: -15px;
  z-index: 0;
}
.subscribe__form {
  padding: 70px 0 100px 50px;
  background: url(../design/bg-white.png) center no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.subscribe__form-title {
  line-height: 34px;
  font-size: 28px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  margin: 0;
  width: 80%;
}
.subscribe__form-title--lower {
  font-size: 24px;
}
.subscribe__form-field {
  margin: 60px 0 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
}
.subscribe__input {
  outline: none;
  background: transparent;
  border: none;
}
.subscribe__input::placeholder {
  font-size: 16px;
  color: #413E59;
  font-family: "Noto Sans", sans-serif;
}
.subscribe__input-wrapper {
  position: relative;
  width: 60%;
  margin-right: 30px;
}
.subscribe__input-wrapper::after {
  content: "";
  position: absolute;
  width: 100%;
  display: block;
  height: 3px;
  background: url(../design/line-gold.svg) center no-repeat;
  background-size: contain;
  bottom: -50%;
  left: 0;
}
.subscribe__btn--mobile {
  display: none;
}
.subscribe__checkbox {
  display: none;
}
.subscribe__networks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 60px;
}

.form-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.subscribe-label__text {
  margin: 40px 0;
  padding-left: 55px;
  position: relative;
  width: 80%;
}
.subscribe-label__text::before {
  content: "";
  position: absolute;
  left: 3%;
  top: 10%;
  display: inline-block;
  width: 30px;
  height: 22px;
  background: url(../design/checkbox.svg) left center no-repeat;
}

.subscribe__checkbox:checked + .subscribe-label__text::before {
  background: url(../design/checkbox-checked.svg) center no-repeat;
}

.manager {
  width: 30%;
}
.manager__img-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 310px;
}
.manager__img-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: solid 1px #CBA783;
  left: -15px;
  top: -15px;
  z-index: 2;
  background: url(../design/pattern.svg) no-repeat;
  background-position: 90% 90%;
}
.manager__img-wrapper::after {
  content: "";
  background: rgba(0, 0, 0, 0);
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.5)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  background: linear-gradient(-160deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  position: absolute;
  z-index: 1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.manager__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.manager__card-body {
  padding: 40px 0;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
}
.manager__title {
  font-size: 28px;
  color: #413E59;
  font-family: "Philosopher", sans-serif;
  margin: 0;
  margin-top: 20px;
}
.manager__subtitle {
  color: #9B9A9A;
  font-size: 20px;
  font-family: "Philosopher", sans-serif;
  margin: 0;
}
.manager__quote {
  font-size: 14px;
  color: #CBA783;
  padding-left: 30px;
  position: relative;
  font-style: italic;
  width: 90%;
  margin: 15px 0;
}
.manager__quote::before {
  content: "";
  position: absolute;
  left: 0;
  width: 17px;
  height: 17px;
  background: url(../design/quote.svg) left top no-repeat;
}
.manager__contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.manager__tel {
  font-family: "Philosopher", sans-serif;
  font-size: 20px;
  color: #413E59;
  margin-right: 20px;
}
.manager__messanger {
  font-weight: 300;
  font-size: 14px;
  font-family: "Noto Sans", sans-serif;
  margin: 10px 0;
  color: gray;
}
.manager__info {
  font-size: 20px;
  line-height: 26px;
  font-family: "Philosopher", sans-serif;
  color: #413E59;
}

.footer {
  margin-bottom: 40px;
}
.footer__line {
  display: block;
  height: 0.5px;
  background: #413E59;
  width: 90%;
  margin: 0 auto;
  margin-bottom: 40px;
  position: relative;
}
.footer__line::before {
  content: "";
  position: absolute;
  left: -45px;
  top: -5px;
  display: inline-block;
  width: 32px;
  height: 12px;
  background: url(../design/dots.svg) center no-repeat;
}
.footer__line::after {
  content: "";
  position: absolute;
  right: -45px;
  top: -5px;
  display: inline-block;
  width: 32px;
  height: 12px;
  background: url(../design/dots.svg) center no-repeat;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-menu__title {
  font-size: 20px;
  color: #CBA783;
  font-family: "Philosopher", sans-serif;
  margin: 20px 0;
}
.footer-menu__title--logo {
  border: none;
}
.footer-menu__item {
  font-family: "Noto Sans", sans-serif;
  color: #413E59;
  font-size: 14px;
  line-height: 30px;
}
.footer-menu__dropdown-arrow {
  display: none;
}

.footer-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.footer-info__text {
  font-size: 13px;
  line-height: 21px;
  margin-top: 54px;
  color: #413E59;
  position: relative;
  font-family: "Noto Sans", sans-serif;
}
.footer-info__text::before {
  content: "";
  position: absolute;
  top: -35px;
  left: 0;
  display: inline-block;
  width: 32px;
  height: 12px;
  background: url(../design/dots.svg) center no-repeat;
}

@media screen and (max-width: 1439px) {
  .main {
    padding: 0;
    width: 100%;
    margin: 0;
  }

  .main-content {
    flex-direction: column;
  }

  .sidebar {
    display: none;
  }

  .header {
    position: fixed;
    width: 95%;
  }

  .swiper-box {
    margin-top: 100px;
  }

  .logo {
    display: inline-block;
  }

  .bars {
    display: inline-block;
  }

  .user {
    display: inline-block;
    margin-right: 5%;
  }

  .promo {
    width: 100%;
  }
  .promo__swiper-container {
    width: 70%;
    margin: 0 auto;
  }

  .events {
    width: 100%;
    margin: 0;
  }
  .events__row {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .events__event {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25%;
  }
  .events__title {
    font-size: 41px;
  }

  .gold-line {
    display: inline-block;
  }

  .row--popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1;
    column-gap: 36px;
    row-gap: 16px;
  }

  .popular__video:last-child {
    display: none;
  }

  .look-more--arrow {
    display: inline-block;
  }
}
@media screen and (max-width: 1201px) {
  .main {
    padding: 0;
  }

  .header {
    justify-content: space-between;
  }

  .title-row--events {
    margin: 50px 0;
  }

  .events__title {
    font-size: 41px;
    color: #413E59;
    font-family: "Philosopher", sans-serif;
  }

  .look-more--events {
    display: inline-block;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    width: 93%;
  }

  .header {
    height: 104px;
  }

  .logo {
    margin-right: 13px;
  }

  .search {
    width: 33%;
  }

  .free-course {
    display: none;
  }

  .free-course--medium {
    display: block;
  }

  .promo__swiper-container {
    width: 100%;
    padding: 15px 0 0 0;
  }
  .promo__img {
    right: 0;
  }
  .promo__wrapper {
    background-position-x: 375px;
    background-position-y: 25px;
  }

  .events {
    margin-top: 80px;
  }
  .events__row {
    margin-top: 35px;
  }
  .events__title {
    margin-top: 0;
  }
  .events__event {
    margin: 0;
    width: 29%;
  }
  .events__descr {
    margin-top: 10px;
  }
  .events__date {
    margin-right: 0;
  }

  .main-content {
    margin-bottom: 45px;
  }

  .popular {
    margin-top: 40px;
  }
  .popular__paragraph {
    margin-bottom: 40px;
  }

  .card__img-text {
    padding-bottom: 20px;
  }

  .card__img-wrapper--popular {
    width: 100%;
    height: 235px;
  }
  .card__img-wrapper--tutor {
    width: 300px;
  }

  .test {
    margin-top: 85px;
  }
  .test::after {
    left: 5%;
    bottom: 7%;
    width: 90%;
    background: url(../design/stars-1024.svg) bottom right no-repeat;
  }
  .test__subtitle {
    margin: 5px 0 35px;
  }
  .test__answer {
    height: 140px;
  }
  .test__text {
    margin-top: 5px;
    width: 100%;
  }

  .arrow-back {
    margin: 25px 0;
    font-size: 18px;
  }
  .arrow-back::after {
    bottom: -80%;
  }

  .tutors {
    margin-top: 80px;
  }

  .news {
    margin-top: 80px;
  }

  .subscribe {
    margin: 75px 0;
  }
  .subscribe__title {
    margin: 20px 0 0;
  }
  .subscribe__row {
    padding-left: 20px;
    margin-top: 40px;
  }
  .subscribe__block {
    width: auto;
    margin-right: 15px;
  }
  .subscribe__form {
    padding: 60px 0 110px 30px;
  }
  .subscribe__networks {
    padding-right: 85px;
  }

  .manager {
    width: 25%;
    margin-left: 15px;
  }
  .manager__title {
    font-size: 20px;
    margin: 5px 0;
  }
  .manager__subtitle {
    font-size: 18px;
  }
  .manager__img-wrapper {
    margin-bottom: 10px;
    height: 210px;
  }
  .manager__contacts {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-top: 25px;
  }
  .manager__tel {
    margin-top: 25px;
  }
  .manager__info {
    margin-top: 10px;
  }

  .free-education {
    padding-top: 35px;
  }
  .free-education__description {
    margin: 43px 0 65px 0;
  }
  .free-education::after {
    left: 5%;
    bottom: 7%;
    width: 90%;
    background: url(../design/stars-1024.svg) bottom right no-repeat;
  }

  .news__title {
    margin: 15px 0;
  }
  .news__announce {
    margin: 30px 0 10px;
    line-height: 30px;
  }

  .footer {
    margin-top: 95px;
  }
  .footer__line {
    margin-bottom: 30px;
  }

  .footer-menu__title {
    font-size: 16px;
    margin: 20px 0 15px;
  }
  .footer-menu__item {
    font-size: 12px;
  }

  .media-row--form {
    margin-top: 20px;
    width: 55%;
  }
  .media-row--contact {
    width: 100px;
  }
  .media-row__media--rounded {
    padding: 20px;
  }

  .title-row {
    margin: 30px 0;
  }

  .row--tutors {
    margin-top: 60px;
  }
  .row--news {
    padding-left: 20px;
    column-gap: 25px;
  }

  .card--tutor {
    padding-left: 15px;
  }
  .card__img-wrapper--news {
    height: 245px;
  }
}
@media screen and (max-width: 1020px) {
  .row--tutors {
    flex-wrap: wrap;
  }

  .subscribe__row {
    flex-direction: column;
  }
  .subscribe .manager {
    width: 100%;
    margin-top: 40px;
  }
  .subscribe .manager__card {
    display: flex;
    justify-content: space-around;
  }
  .subscribe .manager__img-wrapper {
    margin-right: 40px;
    height: 100%;
  }
}
@media screen and (max-width: 1020px) and (max-width: 850px) {
  .row--awards {
    flex-wrap: wrap;
  }

  .promo__wrapper {
    background-position-x: 140%;
  }

  .events__event {
    width: 50%;
  }

  .gold-line {
    display: none;
  }

  .test__row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 40px;
  }
}
@media screen and (max-width: 1020px) and (max-width: 768px) {
  .header {
    width: 100%;
    position: relative;
  }
  .header::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -23px;
    border: 1px solid #C5C5C9;
  }

  .logo {
    display: none;
  }

  .full-logo--mobile {
    display: block;
  }

  .search {
    width: 40%;
  }

  .menu--dropdown {
    width: 100%;
  }

  .swiper-box {
    margin-top: 10px;
  }

  .promo__img {
    right: 0;
    object-fit: contain;
    height: 80%;
    top: 50px;
  }
  .promo__title {
    width: 70%;
    font-size: 28px;
  }

  .look-more--arrow {
    display: none;
  }

  .title-row {
    margin: 0;
  }

  .events__row {
    display: none;
  }
  .events__swiper-container {
    display: block;
    overflow: hidden;
  }
  .events__title {
    padding: 0;
    font-size: 24px;
  }
  .events__subtitle {
    justify-content: flex-start;
  }
  .events__link {
    flex-grow: 0;
  }
  .events__date {
    flex-grow: 0;
    margin-right: 30px;
  }

  .popular__title {
    font-size: 24px;
  }
  .popular__swiper-container {
    display: block;
    margin: 0;
  }
  .popular__card {
    padding: 10%;
  }

  .test {
    padding: 50px 15px;
  }

  .tutors__title {
    font-size: 24px;
  }
  .tutors__box {
    width: 100%;
  }
  .tutors__card-body {
    padding: 30px 0;
  }

  .free-education__title {
    font-size: 24px;
  }
  .free-education__description {
    font-size: 16px;
    font-family: "Noto Sans", sans-serif;
    margin: 30px 0;
  }

  .news__title {
    font-size: 24px;
  }
  .news__announce {
    font-size: 22px;
  }
  .news__box {
    margin-bottom: 30px;
  }

  .subscribe {
    margin-bottom: 50px;
  }
  .subscribe__block {
    width: 100%;
    margin-bottom: 100px;
  }
  .subscribe__networks {
    flex-direction: column;
  }
  .subscribe__title-wrapper {
    display: none;
  }
  .subscribe__form-title--lower {
    font-size: 18px;
  }
  .subscribe__btn {
    margin-top: 40px;
  }

  .form-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__line {
    display: none;
  }

  .row--news {
    display: flex;
  }
  .row--popular {
    display: none;
  }
  .row--footer {
    display: flex;
    flex-direction: column;
  }
  .row--tutors {
    display: flex;
    flex-direction: column;
  }
  .row--awards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .design-dots--deg {
    transform: rotate(0deg);
  }

  .free-course--medium {
    display: none;
  }

  .user {
    display: none;
  }

  .search::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0px;
    background: #413E59;
    bottom: -50%;
    left: 0;
  }
  .search__input::placeholder {
    font-size: 16px;
    line-height: 40px;
    color: transparent;
    font-family: "Philosopher", sans-serif;
  }

  .full-logo--title {
    display: none;
  }

  .footer-menu__col {
    position: relative;
    border-bottom: 1px solid #413E59;
  }
  .footer-menu__col:nth-child(2) {
    border-top: 1px solid #413E59;
  }
  .footer-menu__item {
    display: none;
  }
  .footer-menu__dropdown-arrow {
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url(../design/arrow-dropdown.png) center no-repeat;
    display: inline-block;
  }

  .pagination-arrows {
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 1020px) and (max-width: 670px) {
  .promo__pagination {
    width: 100%;
    justify-content: center;
  }
  .promo__pagination-label {
    display: none;
  }

  .media-row--form {
    width: 100%;
  }
}
@media screen and (max-width: 1020px) and (max-width: 480px) {
  .main-content {
    margin-bottom: 15px;
  }

  .header {
    height: 54px;
    padding: 22px 0 0 0;
  }

  .search {
    width: 20%;
  }

  .bars {
    background: url(../design/burger-mobile.svg);
    background-size: contain;
    width: 20px;
    height: 20px;
  }

  .promo__wrapper {
    height: 474px;
    background-position-x: 55px;
    background-position-y: 20px;
    background-size: 130%;
  }
  .promo__img {
    object-fit: cover;
    height: 70%;
    top: 5%;
    right: 0;
  }
  .promo__text {
    margin-top: 5%;
  }
  .promo__title-wrapper {
    justify-content: flex-start;
    align-items: flex-start;
  }
  .promo__title {
    margin: 0;
    line-height: 32px;
  }
  .promo__subtitle {
    width: 50%;
    font-size: 18px;
    margin-top: 30px;
  }
  .promo__date {
    font-size: 44px;
    margin-right: 20px;
    line-height: 44px;
  }
  .promo__descr {
    display: none;
  }
  .promo__descr--mobile {
    display: inline-block;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
    width: 100%;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
    margin-right: 25px;
  }

  .events {
    margin-top: 25px;
  }
  .events__event {
    flex-direction: column;
    width: 100%;
  }
  .events__descr {
    margin-top: 10px;
  }
  .events__row {
    display: none;
  }
  .events__title {
    width: 100%;
  }
  .events__subtitle-wrapper {
    align-items: flex-start;
  }
  .events__swiper-container {
    margin-top: 20px;
  }

  .date__day {
    line-height: 40px;
  }

  .pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .row--popular {
    display: none;
  }
  .row--awards {
    margin-top: 25px;
  }
  .row__item--tutor {
    margin-bottom: 20px;
  }
  .row__item--news {
    margin: 5px 0;
  }
  .row__item--news:first-child {
    display: none;
  }
  .row__item--news:last-child {
    display: none;
  }
  .row--tutors {
    margin-top: 34px;
  }

  .popular {
    margin: 0;
  }
  .popular__row {
    display: none;
  }
  .popular__title {
    width: 60%;
  }
  .popular__card {
    padding: 20px;
  }
  .popular__swiper-container {
    margin: 0;
    width: 100%;
  }
  .popular__img-wrapper {
    height: 230px;
    margin-bottom: 10px;
  }
  .popular__paragraph {
    margin-bottom: 20px;
  }

  .tutors {
    margin-top: 35px;
  }
  .tutors__title {
    line-height: 30px;
  }
  .tutors__box {
    width: 100%;
    margin-bottom: 25px;
  }
  .tutors__name {
    font-size: 22px;
  }

  .awards__icon {
    width: 50px;
    height: 60px;
  }

  .design-dots--deg {
    transform: rotate(0deg);
  }

  .free-education {
    padding: 40px 15px 160px;
  }
  .free-education__title {
    font-size: 22px;
    line-height: 30px;
  }
  .free-education__description {
    margin: 30px 0 33px;
    font-size: 14px;
  }
  .free-education::after {
    left: 5%;
    bottom: 3%;
  }

  .news {
    margin-top: 30px;
  }
  .news__img {
    max-width: 100%;
    height: auto;
  }
  .news__announce {
    margin: 15px 0 10px;
  }

  .test {
    margin-top: 50px;
    padding: 50px 15px 10px;
  }
  .test__row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .test__answer {
    background: url(../design/wide-frame.svg) no-repeat center;
    background-size: contain;
    width: 285px;
    height: 95px;
    margin: 0;
  }
  .test__text {
    margin: 0;
  }
  .test__title {
    font-size: 24px;
    line-height: 34px;
  }
  .test__subtitle {
    font-size: 22px;
    margin: 5px 0 20px;
  }
  .test__label {
    display: flex;
    align-items: center;
  }
  .test::after {
    background: none;
  }

  .subscribe {
    margin: 65px 0 30px;
  }
  .subscribe__row {
    padding: 0;
  }
  .subscribe__block {
    margin-bottom: 70px;
  }
  .subscribe__btn {
    display: none;
  }
  .subscribe__btn--mobile {
    display: block;
  }
  .subscribe__form-wrapper::before {
    border: none;
  }
  .subscribe__form {
    padding: 47px 0 0px 5px;
  }
  .subscribe__form-title {
    line-height: 30px;
    font-size: 22px;
    width: 90%;
  }
  .subscribe__form-title--lower {
    font-size: 20px;
    width: 100%;
  }
  .subscribe__networks {
    padding-right: 55px;
  }
  .subscribe__form-field {
    margin: 40px 0 30px 0;
  }
  .subscribe__input-wrapper {
    width: 100%;
  }

  .subscribe-label__text {
    width: 100%;
    margin: 40px 0 15px;
  }

  .manager {
    width: 100%;
  }
  .manager__card {
    flex-direction: column;
  }
  .manager__img-wrapper {
    width: auto;
    margin-right: 0;
  }
  .manager__quote {
    margin: 10px 0;
  }
  .manager__contacts {
    flex-direction: row;
    align-items: center;
  }
  .manager__tel {
    margin: 0 20px 0 0;
  }
  .manager__info {
    margin: 0;
  }

  .footer {
    margin: 0;
  }

  .btn {
    width: 100%;
  }
  .btn--mobile {
    display: block;
    margin-top: 20px;
  }

  .card--tutor {
    flex-direction: column;
  }
  .card__img-wrapper--tutor {
    width: 100%;
    height: 260px;
  }
  .card__body--tutor {
    padding: 0;
  }
}
@media screen and (max-width: 350px) {
  .test__answer {
    width: 100%;
  }
}
/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/
/* Normalize
--------------------------------------------- */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
	 ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

/* Sections
	 ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
	 ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Text-level semantics
	 ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
	 ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
	 ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *		`fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
	 ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
	 ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* Box sizing
--------------------------------------------- */
/* Inherit box-sizing to more easily change it's value on a component level.
@link http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
/* Typography
--------------------------------------------- */
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  clear: both;
}

p {
  margin-bottom: 1.5em;
}

dfn,
cite,
em,
i {
  font-style: italic;
}

blockquote {
  margin: 0 1.5em;
}

address {
  margin: 0 0 1.5em;
}

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}

code,
kbd,
tt,
var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}

mark,
ins {
  background: #fff9c0;
  text-decoration: none;
}

big {
  font-size: 125%;
}

/* Elements
--------------------------------------------- */
body {
  background: #fff;
}

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}

ul,
ol {
  margin: 0 0 1.5em 3em;
}

ul {
  list-style: disc;
}

ol {
  list-style: decimal;
}

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em;
}

dt {
  font-weight: 700;
}

dd {
  margin: 0 1.5em 1.5em;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 1em 0;
}

table {
  margin: 0 0 1.5em;
  width: 100%;
}

/* Links
--------------------------------------------- */
/* Forms
--------------------------------------------- */
input[type=text],
input[type=email],
input[type=url],
input[type=password],
input[type=search],
input[type=number],
input[type=tel],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=time],
input[type=datetime],
input[type=datetime-local],
input[type=color],
textarea {
  color: #666;
  border-radius: 3px;
  padding: 3px;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=url]:focus,
input[type=password]:focus,
input[type=search]:focus,
input[type=number]:focus,
input[type=tel]:focus,
input[type=range]:focus,
input[type=date]:focus,
input[type=month]:focus,
input[type=week]:focus,
input[type=time]:focus,
input[type=datetime]:focus,
input[type=datetime-local]:focus,
input[type=color]:focus,
textarea:focus {
  color: #111;
}

select {
  border: 1px solid #ccc;
}

textarea {
  width: 100%;
}

/*--------------------------------------------------------------
# Layouts
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
/* Navigation
--------------------------------------------- */
.main-navigation {
  display: block;
  width: 100%;
}
.main-navigation ul {
  display: none;
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.main-navigation ul ul {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  float: left;
  position: absolute;
  top: 100%;
  left: -999em;
  z-index: 99999;
}
.main-navigation ul ul ul {
  left: -999em;
  top: 0;
}
.main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
  display: block;
  left: auto;
}
.main-navigation ul ul a {
  width: 200px;
}
.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
  left: auto;
}
.main-navigation li {
  position: relative;
}
.main-navigation a {
  display: block;
  text-decoration: none;
}
/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block;
}

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none;
  }

  .main-navigation ul {
    display: flex;
  }
}
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
}
.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
  display: flex;
}
.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
  flex: 1 0 50%;
}
.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
  text-align: end;
  flex: 1 0 50%;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
  display: block;
}

.post,
.page {
  margin: 0 0 1.5em;
}

.updated:not(.published) {
  display: none;
}

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0;
}

.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
  word-wrap: break-word;
}

.bypostauthor {
  display: block;
}

/* Widgets
--------------------------------------------- */
.widget {
  margin: 0 0 1.5em;
}
.widget select {
  max-width: 100%;
}

/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}

.wp-caption-text {
  text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
  margin-bottom: 1.5em;
  display: grid;
  grid-gap: 1.5em;
}

.gallery-item {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.gallery-columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
  grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
  grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
  grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
  grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
  grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
  display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/
/* Jetpack infinite scroll
--------------------------------------------- */
/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
  display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
/* Accessibility
--------------------------------------------- */
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/* Alignments
--------------------------------------------- */
.alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}

.alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}

/*# sourceMappingURL=style.css.map */
